*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:linear-gradient(135deg,#2ec7ff,#1565ff);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:430px;
    max-width:95%;
    background:#fff;
    border-radius:25px;
    padding:30px;
    text-align:center;
    box-shadow:0 15px 35px rgba(0,0,0,.2);
}

.logo{
    width:90px;
    margin-bottom:15px;
}

h1{
    font-size:42px;
    color:#222;
    margin-bottom:5px;
}

h2{
    font-weight:normal;
    color:#666;
    margin-bottom:25px;
}

.tanggal{
    font-size:28px;
    color:#222;
}

.jam{
    margin-top:10px;
    font-size:56px;
    font-weight:bold;
    color:#1565ff;
}

.status-box{
    margin-top:25px;
    padding:15px;
    border-radius:15px;
    font-size:22px;
    font-weight:bold;
}

.warning{
    background:#fff7d6;
    color:#9b7b00;
}

.success{
    background:#e8fff1;
    color:#219653;
}

.error{
    background:#ffeaea;
    color:#d63031;
}

.scan-box{
    margin-top:25px;
    border:2px solid #4da3ff;
    border-radius:18px;
    padding:10px;
}

#reader{
    width:100%;
}

.footer{
    margin-top:25px;
    color:#999;
    font-size:15px;
}

.success-box{
    margin-top:25px;
    background:#e8fff1;
    border:3px solid #27ae60;
    border-radius:20px;
    padding:30px;
}

.success-box h1{
    font-size:70px;
}

.success-box h2{
    color:#27ae60;
    font-size:34px;
    margin:15px 0;
}

.success-box h3{
    font-size:30px;
    color:#333;
    margin-bottom:10px;
}

.success-box p{
    font-size:22px;
    color:#666;
}

.error-box{
    margin-top:25px;
    background:#fff1f1;
    border:3px solid #e74c3c;
    border-radius:20px;
    padding:30px;
}

.error-box h1{
    font-size:70px;
}

.error-box h2{
    color:#e74c3c;
    font-size:34px;
    margin-top:15px;
}

@media(max-width:600px){

.container{
    width:95%;
    padding:20px;
}

.logo{
    width:70px;
}

h1{
    font-size:32px;
}

.jam{
    font-size:42px;
}

.tanggal{
    font-size:20px;
}

.status-box{
    font-size:18px;
}

.success-box h2,
.error-box h2{
    font-size:28px;
}

.success-box h3{
    font-size:24px;
}

}
